<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="wrap">
    <!-- nav  -->
    <nav class="d-flex justify-between align-items-center">
      <h1>
        <a href="#">
          <img src="assets/images/logo-fixie.svg" alt="">
        </a>
      </h1>
      <ul class="d-flex align-items-center">
        <li>
          <a href="#">Product</a>
        </li>
        <li class="ml-48">
          <a href="#">Blog</a>
        </li>
        <li class="ml-48">
          <a href="#">contact</a>
        </li>
      </ul>
    </nav>
    <!-- contets -->
    <%- contents %>

    <!-- footer -->
    <footer>
      <div class="container d-flex justify-between align-items-center">
        <ul class="d-flex align-items-center">
          <li class="mr-48">
            <a href="#">Product</a>
          </li>
          <li class="mr-48">
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">contact</a>
          </li>
        </ul>
        <p>© 2020 Fixie. All Rights Reserved.</p>
        <h2>
          <a href="#">
            <img src="assets/images/logo-fixie.svg" alt="">
          </a>
        </h2>
      </div>
    </footer>
  </div>


  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      useClassNames: true,
      initClassName: false,
      animatedClassName: 'animate__animated'
    });
  </script>
</body>

</html>