// flex
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-end{
    justify-content: start; 
}
.align-items-center{
    align-items: center;
}
.align-items-flex-end{
    align-items: flex-end;
}
// margin
.ml-48{
    margin-left: 3rem;
}
.mr-48{
    margin-right: 48px;
}
.mb-16{
    margin-bottom: 1rem;
}
.mb-48{
    margin-bottom: 3rem;
}
// font
.f-italic{
    font-style: italic;
}
// bg-img
.bg-cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
// font
.content-title{
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Merriweather', serif;
}
.content-text{
    font-size: 1rem;
    color: $gray-dark;
    font-family: 'Lato', serif;
}
.text-align-right{
    text-align: right;
}
.text-align-center{
    text-align: center;
}